header {
  text-align: center;
  background-color: rgb(216, 22, 216); 
  height: 230px;
  }

body{
    font-family: sans-serif;
    font-size:110%;
    background-color: white;
  }

h2{
  background-color: rgb(255, 55, 255);
  font-size: 40px;
  margin: 20px;
  padding: 40px;
  }
  



footer {
  background-color: #A74AC7;
  text-align: center;
}
